body{
    font-family: arial, sans-serif;
}
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #e0e0e0;
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 5s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #344051;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 5s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
nav {
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
}
.logo{
    color: white;
    font-size: 22px;
    line-height: 60px;
    padding-left: 150px;
    float: left;
    animation: coming 2s ease;
}
main{
    width: 100%;
    height: 100%;
}
.menu{
    float: left;
    padding-left: 220px;
}
.menu li{
    float: left;
    line-height: 60px;
    color: white;
    margin-right: 40px;
    font-size: 12px;
    text-transform: uppercase;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}
.main{
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 90% 100%/auto 80% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
}
.title_container{
    float: left;
    margin: 200px 0px 0px 150px;
    color: #2c384a;
    text-align: center;
    opacity: 0;
    animation: titlemove 1s ease forwards;
    animation-delay: 2.4s;
}
.title_container h1{
    font-size: 40px;
    font-weight: bold;
}
.title_container h4{
    margin-top: 40px;
    font-size: 25px;
    color: #79818d;
}
.title_container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 5px 16px;
    margin: 50px 14px 0px 14px;
}

.menu li a:visited{
    color: white;
}
.menu li a{
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    display: inline-block;
}
.menu li a:hover{
    color: #cf7600;
   
}
.menu li a:active{
     transform: scale(1.1);
}
.title_container input{
    transition: all 0.2s;
    transform: scale(1);
}

.title_container input:hover{
    background: #344051;
    color: white;
}
.title_container input:active{
    transform: scale(1.1);
}

@keyframes coming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    }
@keyframes topshift{
    from{
       opacity: 0; 
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}
@keyframes titlemove{
    from{
       opacity: 0; 
        margin-left: -300px;
    }
    to{
        opacity: 1;
        margin-left: 150px;
    }
.menu li:nth-child(2){
    animation-delay: 0.4s; 
}
.menu li:nth-child(3){
    animation-delay: 0.8s; 
}
.menu li:nth-child(4){
    animation-delay: 1.2s; 
}
.menu li:nth-child(5){
    animation-delay: 1.6s; 
}
.menu li:nth-child(6){
    animation-delay: 2s; 
}
    
.i h2{
    text-align: center;
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 25px;
}

.i p{
    text-align: center;
    line-height: 50px;
}
.i input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 5px 16px;
    margin: 10px 14px 0px 45%;
}
.job{
    background: url(../img/bg-2.jpg) center;
    background-size: contain;
    
}
div.job{
    height: 300px;
}
.job h2{
    text-align: center;
    margin-top: 60px;
    text-transform: uppercase;
    font-size: 25px;
    padding: 40px;
}

.name{
    float: left;
    line-height: 30px;
    margin-top: 0px;
    width: 310px;
    margin-right: 0px;
    text-align: center;
    
}

.keis h2{
  text-align: center;
    margin-top: 80px;
    text-transform: uppercase;
    font-size: 25px;
    padding: 40px;   
}
.keis p{
    margin: 10px;
    text-align: center;
}
.keis img{
    margin: 50px;
}
.text_keis input{
    height: 30px;
    text-align: center;
    border: 2px;
    background: #63b5ae;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    padding: 5px 16px;
    margin: 10px 20px 30px 0px;
}
.text_keis p{
    margin: 0px 0px 5px 40px;
}
.text_keis{
    float: left;
}


.many h2{
    text-align: center;
    margin-top: 80px;
    font-size: 25px;
    padding: 40px;
}

.mn{
    display: block;
    margin: 10px 30px 20px 30%;
    text-transform: uppercase;
}
#itog{
    margin: 0px 0px 0px 250px;
    text-transform: capitalize;
}
#itog2{
    margin: 0px 0px 0px 250px;
    text-transform: capitalize;
}


.stistic h2{
  text-align: center;
    margin-top: 80px;
    text-transform: uppercase;
    font-size: 25px;
    padding: 60px; 
}
div.stistic{
   height: 300px;
}
.st{
    float: left;
    line-height: 30px;
    margin-top: 0px;
    width: 310px;
    margin-right: 0px;
    text-align: center;
    margin-bottom: 60px;
}
.stistic{
background: url(../img/bg3.jpg) 100%;
}

.otziv h2{
  text-align: center;
    margin-top: 80px;
    text-transform: uppercase;
    font-size: 25px;
    padding: 30px; 
}
img{
    margin: 30px 14px 20px 46%;
}
.otziv p{
    text-align: center;
    line-height: 30px;
}

.otziv input{
    float: left;
    width: 20px;
    text-align: center;
}

form h2{
    text-align: center;
    margin-top: 60px;
    text-transform: uppercase;
    font-size: 25px;
    padding: 40px; 
    color: white;
}
form{
    background: url(../img/bg4.jpg);
    background-size: 100%;
}
.cn{
     text-align: center;
    margin-top: 0px;
    padding: 0px; 
    color: white;
}

.text_cn{
    color: white;
    float: left;
    text-align: center;
    width: 330px;
    height: 40px;
    margin: 20px 40px 0px 40px;
    line-height: normal;
}
.text_cn2{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    padding: 40px; 
    color: white;
    margin-top: 40px;
}

.newClass{
    margin-left: 80px;
}
.inpt input{
    display: block;
   float: left;
    height: 30px;
    width: 200px;
  padding: 20px;
    margin: 10px 20px 40px 50px;
}
#text_form{
    margin: 50px 10px 15px 0px;
    height: 50px;
    width: 500px;
    
}
.sub input{
     height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 5px 16px;
    margin: 10px 14px 40px 48%;
}
footer{
    width: 100%;
    height: 60px;
    background: #344051;
    text-align: center;
    color: white;
}
footer p{
    padding-top: 20px;
}