body{
    font-family: arial, sans-serif;
}

nav {
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 10;
}
.logo{
    color: white;
    font-size: 20px;
    line-height: 60px;
    float: left;
    animation: coming 2s ease;
}
main{
    width: 100%;
    height: 100%;
}
.menu{
    float: left;

}
.menu li{
    float: left;
    line-height: 60px;
    color: white;
    margin-right: 40px;
    font-size: 12px;
    text-transform: uppercase;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}
.main{
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 90% 100%/auto 80% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
}
.title_container{
    float: left;
    color: #2c384a;
    text-align: center;
    opacity: 0;
    width: 100%;
    animation: titlemove 1s ease forwards;
    animation-delay: 2.4s;
}
.title_container h1{
    font-size: 40px;
    font-weight: bold;
}
.title_container h4{
    margin-top: 40px;
    font-size: 25px;
    color: #79818d;
}
.title_container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 5px 16px;
    margin: 50px 14px 0px 14px;
}

.menu li a:visited{
    color: white;
}
.menu li a{
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}
.menu li a:hover{
    color: #cf7600;
   
}
.menu li a:active{
     transform: scale(1.1);
}
.title_container input{
    transition: all 0.2s;
    transform: scale(1);
}

.title_container input:hover{
    background: #344051;
    color: white;
}
.title_container input:active{
    transform: scale(1.1);
}

@keyframes coming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    }
@keyframes topshift{
    from{
       opacity: 0; 
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}
@keyframes titlemove{
    from{
       opacity: 0; 
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 0px;
    }
}
.menu li:nth-child(2){
    animation-delay: 0.4s; 
}
.menu li:nth-child(3){
    animation-delay: 0.8s; 
}
.menu li:nth-child(4){
    animation-delay: 1.2s; 
}
.menu li:nth-child(5){
    animation-delay: 1.6s; 
}
.menu li:nth-child(6){
    animation-delay: 2s; 
}

.white-btn:visited
{
    color: wheat;
}
@media (max-width:991px){
    .title_container, .title_container h4, title_container input{
        color: white;
        position: relative;
        z-index: 3;
    }
    .title_container input{
    border: 2px solid white;
    }
    .main{
        position: relative;
    }
    .main::after{
        content: "";
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: rgba(0,0,0,0.4);
    }
}
    
.i h2{
    text-align: center;
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 25px;
}
.foto{
    text-align: center;
    margin-top: 20px;
}

h2.title-example:after {
    content: '';
    display: block;
    height: 2px; /* Высота линии */
    background: #cf7600; /* Цвет линии */
    width: 50px; /* Ширина линии до наведения */
    margin: 10px auto 0; /* Отступ с боков по центру и сверху */
	transition: 1s; /* Время, за которое линия возвращается после наведения */
}
h2.title-example:hover:after {
    width: 150px; /* Ширина линии при наведении */
	transition: ease-out 1s; /* Время, за которое линия расширяется при наведении */
}

.i p{
    text-align: center;
    line-height: 50px;
}



.job{
    background: url(../img/bg-2.jpg) center;
}

div.job{
    height: 400px;
}

img.disp{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.job h2{
    text-align: center;
    margin-top: 60px;
    text-transform: uppercase;
    font-size: 25px;
    padding: 40px;
}
.job h2:after {
    content: '';
    display: block;
    height: 2px; /* Высота линии */
    background: #cf7600; /* Цвет линии */
    width: 50px; /* Ширина линии до наведения */
    margin: 10px auto 0; /* Отступ с боков по центру и сверху */
	transition: 1s; /* Время, за которое линия возвращается после наведения */
}
.job h2:hover:after {
    width: 150px; /* Ширина линии при наведении */
	transition: ease-out 1s; /* Время, за которое линия расширяется при наведении */
}

.name{
    float: left;
    line-height: 30px;
    margin-top: 0px;
    width: 310px;
    margin-right: 0px;
    text-align: center;
    margin-left: 30px;
    color: #cf7600;
    
}

.opisanie{
    color: black;
   
}

.keis h2{
  text-align: center;
    margin-top: 80px;
    text-transform: uppercase;
    font-size: 25px;
    padding: 40px;   
}

.p_k{
    text-align: center;
}
.keis p{
    margin-top: 10px;
    text-align: left;
    
}
.web{
     display: flex;
  justify-content: center;
}

 a:link {
    color: #0000d0; 
   }
   a:visited {
    color: #900060; 
   }
   a:active {
    color: #f00; 
   } 

.text_keis input{
    height: 30px;
    text-align: center;
    border: 2px;
    background: #63b5ae;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    padding: 5px 16px;
    margin: 10px 20px 30px 0px;
    animation: puls 3s infinite;
}

@keyframes puls{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.text_keis input:hover{
    background: #344051;
    color: white;
}
.text_keis input:active{
    transform: scale(1.1);
}
.text_keis p{
    margin: 0px 0px 0px 40px;
}
.text_keis{
    float: left;
}


.many h2{
    text-align: center;
    font-size: 25px;
    padding: 40px;
}
.ramka-6 {
    width: 1000px;
    height: 400px;
    margin: 100px 0px 0px 30px;
    display: flex;
    align-items: center;
    justify-content: center;          
    background-repeat: no-repeat;
    background-image:   linear-gradient(to right, #BFE2FF 100%, #BFE2FF 100%),
        linear-gradient(to bottom, #BFE2FF 100%, #BFE2FF 100%),
        linear-gradient(to right, #BFE2FF 100%, #BFE2FF 100%),
        linear-gradient(to bottom, #BFE2FF 100%, #BFE2FF 100%);
    background-size:    100% 6px, 6px 100%, 100% 6px, 6px 100%;
    background-position:    0 0, 100% 0, 100% 100%, 0 100%;
    animation: anim-ramka-6 1.25s cubic-bezier(0.19, 1, 0.22, 1) 1;
    animation-play-state: paused;
}
.ramka-6:hover {
    animation-play-state: running;
}
@keyframes anim-ramka-6 {
    0% {
        background-size:    0 6px, 6px 0, 0 6px, 6px 0;
    }
    25% {
        background-size:    100% 6px, 6px 0, 0 6px, 6px 0;
    }
    50% {
        background-size:    100% 6px, 6px 100%, 0 6px, 6px 0;
    }
    75% {
        background-size:    100% 6px, 6px 100%, 100% 6px, 6px 0;
    }
    100% {
        background-size:    100% 6px, 6px 100%, 100% 6px, 6px 100%;
    }
}

.mn{
    display: block;
    
    text-transform: uppercase;
}
#itog{
    margin: 0px 0px 0px 250px;
    text-transform: capitalize;
}
#itog2{
    margin: 0px 0px 0px 250px;
    text-transform: capitalize;
}

.parallax{
    background: url(../img/bg3.jpg);
    height: 450px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
}
.stistic h2{
  text-align: center;
    margin-top: 80px;
    text-transform: uppercase;
    font-size: 25px;
    padding: 80px; 
}

img.sect{
    margin:  0px 98px 0px 175px;
}
div.stistic{
   height: 300px;
}
.st{
    float: left;
    line-height: 30px;
    margin-top: 20px;
    margin-left: 40px;
    width: 300px;
    margin-right: 0px;
    text-align: center;
    margin-bottom: 70px;
    animation: scale 4s infinite;
}

@keyframes scale{
    0%{
        transform: scale(0.9);
        opacity: 0.5;
    }
    50%{
        transform: scale(1.2);
        opacity: 1;
    }
    100%{
        transform: scale(0.9);
        opacity: 0.5;
    }
}

.otziv h2{
  text-align: center;
    margin-top: 80px;
    text-transform: uppercase;
    font-size: 25px;
    padding: 30px; 
}
.boy2{
    display: flex;
  justify-content: center;
}

.otziv p{
    text-align: center;
    line-height: 30px;
}

.otziv input{
    float: left;
    width: 20px;
    text-align: center;
}

form h2{
    text-align: center;
    margin-top: 60px;
    text-transform: uppercase;
    font-size: 25px;
    padding: 40px; 
    color: white;
}
form{
    background: url(../img/bg4.jpg);
    background-size: 100%;
    position: relative;
}
.cn{
     text-align: center;
    margin-top: 0px;
    padding: 0px; 
    color: white;
}

.text_cn{
    color: white;
    float: left;
    text-align: center;
    width: 330px;
    height: 40px;
    margin: 20px 40px 0px 40px;
    line-height: normal;
}
.text_cn2{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    padding: 40px; 
    color: white;
    margin-top: 40px;
}

.newClass{
    margin-left: 150px;
}

.ipt{
  height: 40px;
    width: 200px;   
}


#text_form{
    margin: 50px 10px 15px 400px;
    height: 100px;
    width: 600px;
    
}
.sub input{
     height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 5px 16px;
    margin: 10px 14px 40px 48%;
    animation: pulse 4s infinite;
}
@keyframes pulse{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.sub input:hover{
    background: #344051;
    color: white;
}
.sub input:active{
    transform: scale(1.1);
}
footer{
    width: 100%;
    height: 60px;
    background: #344051;
    text-align: center;
    color: white;
}
footer p{
    padding-top: 20px;
}